body{
margin: 0;
padding: 0;
background-color:#4d84e2; 
}
.btn{
position: relative;
top: 50%
left: 50%
transform: translate(-50%,-50%)
text-align: center;
width: 190px;
padding: 20px;
font-size: 20px;
color:#4d84e2;
font-family: poppins;
font-weight: 400;
border: 5px solid #ffffff;
cursor: pointer;
border-radius: 100px;
transition: 1.5s;
background-color: #4d84e2;
}

.btn:hover
{
box-shadow: 0 5px 50px 0 #ffffff inset, 0 5px 50px 0 #ffffff,
0 5px 50px 0 #ffffff inset, 0 5px 50px 0 #ffffff;
}

.lgbtn{
position: relative;
top: 50%
left: 50%
transform: translate(-50%,-50%)
text-align: center;
width: 130px;
padding: 20px;
font-size: 20px;
color:#000000;
font-family: poppins;
font-weight: 400;
border: 5px solid #ffffff;
cursor: pointer;
border-radius: 100px;
transition: 1.5s;
background-color: #4d84e2;
}

.lgbtn:hover
{
box-shadow: 0 5px 50px 0 red inset, 0 5px 50px 0 red,
0 5px 50px 0 red inset, 0 5px 50px 0 red;
}